@model IEnumerable<Bakers.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivered)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            @if (item.Products.Count == 0) {
            <td>
                TBA
            </td>
            } else {
            <td>
                @foreach (var product in item.Products)
                {
                    @Html.DisplayFor(modelItem => product.Name)
                    <br />
                }
            </td>
            }
            @if (item.User == null) {
            <td>
                TBA
            </td>
            } else {
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Delivered)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (User.IsInRole("admin"))
{
    <p style="margin-top: 25px;">
        Wanna add new order for admin/users/employee? 
        <a asp-action="Create" style="text-decoration: none; color: black; cursor: pointer;">Place New</a>
    </p>
}
