@model IEnumerable<Bakers.Models.ViewModels.UserViewModel>
@using Bakers.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Orders)
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @foreach (string role in item.Roles)
                    {
                        <p>@role</p>
                    }
                </td>
@*                <td>
                    @foreach (var order in item.Orders)
                    {
                        @Html.DisplayFor(modelItem => order.Id)
                        <span>|</span>
                    }
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-userName="@item.UserName">Edit</a> |
                    <a asp-action="Details" asp-route-userName="@item.UserName">Profile</a> |
                    <a asp-action="Delete" asp-route-username="@item.UserName">Fire</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    Add new employee?<a style="text-decoration: none; color: black; cursor: pointer;" asp-area="Identity" asp-page="/Account/Register"> Click here!</a>
</p>