@model Bakers.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h3 style="margin-top: 20px;">Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <div class="row gx-5 mt-5">
        <img alt="@Model.Name" src="@Model.Image" class="img-fluid col-5" />
        <div class="col-7">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <h3 class="pull-right">@Html.DisplayFor(model => model.Price) €</h3>
            <h5 class="mt-5">Orders :</h5>
            @foreach (var order in Model.Orders)
            {
                @Html.DisplayFor(model => order.Id)
                <span>, </span>
            }
        </div>
    </div>
    
    <form asp-action="Delete" class="d-flex flex-column mt-5" style="width: 115px; gap: 10px">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index"style="text-decoration: none; color: black; cursor: pointer;">⬅ Back to List</a>
    </form>
</div>
