@model Bakers.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div style="margin-top: 20px;">
    <h3 class="my-3">
        @Model.Name
    </h3>

    <div class="row gx-5">
        <img alt="@Model.Name" src="@Model.Image" class="img-fluid col-5" />
        <div class="col-7">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <h3 class="pull-right">@Html.DisplayFor(model => model.Price) €</h3>

            @if (User.IsInRole("admin") || User.IsInRole("user")) {
            <div>
                <a asp-action="AddToCart" asp-route-name="@Model.Name" class="btn btn-secondary" style="background-color: #DDB7B2; border: none;">Add to cart</a>
            </div>
            } else {
            <div class="addToCart">
                <p>Crave on this delicious dessert? Login now and get it!</p>
            </div>
            }
        </div>
    </div>
</div>
<div style="margin-top: 20px; display: flex; flex-direction: column; width: 150px;">
    @if (User.IsInRole("admin")) {
   <a style="text-decoration: none; color: black; cursor: pointer;" asp-action="Edit" asp-route-id="@Model?.Id">✏ Edit</a> 
    }
    <a style="text-decoration: none; color: black; cursor: pointer;" asp-action="Index">⬅ Back to List</a>
</div>
