@model IEnumerable<Bakers.Models.Variety>

@{
    ViewData["Title"] = "Index";
}
<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/carousel2.jpg" class="d-block w-100" alt="Carousel image 1">
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel1.jpg" class="d-block w-100" alt="Carousel image 2">
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel3.jpg" class="d-block w-100" alt="Carousel image 3">
        </div>
    </div>
</div>

<div>
    <h4 class="text-center mt-5">Our Varieties</h4>
    <h5 class="text-center">Our Current varieties available on our shop.</h5>
</div>

<form asp-action="Index" asp-controller="Varieties" style="margin: 50px auto 50px auto">
    Search:
    <input type="text" name="searchField" value=@ViewData["searchField"]></>
    <input type="submit" value="Filter" style="border: none; border-radius: 4px; background-color: #DDB7B2; color: white; width: 100px" />
</form>

<h2 style="text-align: center; margin-bottom: 30px;">@ViewData["NoProducts"]</h2>

<div style="display: flex; flex-direction: column; gap: 25px;">
@foreach (var item in Model) {
    <div>     
        <div>
            <div style="display: flex; flex-direction: column;">
                <div>
                    <h2>
                            <a asp-action="Details" asp-route-id="@item.Id" class="pie-link" style="text-decoration: none; color: #000000; font-size: 20px;">@item.Name</a>
                    </h2>
                </div>
                <div style="display: flex; gap: 15px;">
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none; color: black;">✏ Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none; color: black;">❌ Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
</div>



@if (User.IsInRole("admin"))
{
    <p style="margin-top: 25px;">
        Wanna add new variety?
        <a asp-action="Create" style="text-decoration: none; color: black; cursor: pointer;">Add New</a>
    </p>
}